/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

html, body {
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .heading-primary--main {
    margin-bottom: .75rem;
    font-size: 6rem;
    font-weight: 400;
    color: #e6e7e9;
    transform: scale(1, 1.5);
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--code {
    color: #d12e2f;
    transform: scale(1, 1.5);
    font-weight: 700; }

.welcome {
  align-self: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin-bottom: .75rem; }

.header-box {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly; }

.heading-lead {
  text-align: center;
  color: white;
  font-size: 3rem; }

.summit {
  color: #ffffff;
  transform: scale(1, 1.5);
  font-weight: 700; }

.header {
  height: 100vh;
  background-image: url(../img/landigbg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 2rem; } }
