body {
    // font-family:"Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &--main {
        // background-color: blue;
        margin-bottom: .75rem;
        font-size: 7rem;
        font-weight: 400;
        color: #e6e7e9;
        // transform: scale(1, 1.5);
        font-weight :700;
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 6rem;
        }
    }
    &--code{
        color:#d12e2f;
        transform: scale(1, 1.5);
        font-weight :700;
    }
}
.welcome{
    align-self: center;
    font-size: 3rem;
    text-transform: none;
    color:white;
    text-align: center;
    margin-bottom: .75rem;
    &--tns{
        transform: translateX(-50%);
        @include respond(phone){
            transform: translateX(-40%);
            font-size: 3.5rem;

        }
    }
}
.header-box{
    display: flex;
    flex-direction: column;
    // background: green;
    height: 80%;
    justify-content: space-evenly;
}
.heading-lead{
    text-align: center;
    color:white;
    font-size: 3rem;
    @include respond(phone){
            font-size: 3.5rem;
            
    }

}
.summit{
    color:#ffffff;
    // display: inline-block;
    // font-size: 32px;
    // transform: scale(1, 1.5);
    margin-top: -1.5rem;
    text-transform: none;
    font-weight :700;
    font-size: 9rem;
}